body {
  background-color:aquamarine;
}

div#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
}

span.bold {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 35px;
}

button {
  margin: 15px;
}
